/* Custom Stylesheet */

/* Materialize overrides */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/*h1, h2, h3 {
  font-weight: 700;
}*/
#logo-container {
  height: 100%;
  max-width: 50%;
  padding: 10px;
}
img.responsive-img, video.responsive-video {
  height: 100%;
}
.nav-wrapper li a {
  font-size: large;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/* Helper classes */
.larger {
  font-size: 120%;
}
.smaller {
  font-size: 80%;
}
.small {
  font-size: 0.8rem;
}
.upper {
  text-transform: uppercase;
}
.panel {
  min-height: 70vw;
  padding: 1em;
  border-radius: 14px;
}

/* Netlify identity menu formatting */
.netlify-identity-user-details {
  font-size: 0;
}
.netlify-identity-user {
  display: inline-block;
  max-width: 16em;
  margin-right: 20px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.netlify-identity-logout {
  background-color: rgba(0,0,0,0.15);
}
.netlify-identity-user:before {
  content: "account_circle";
  font-family: 'Material Icons';
  font-size: 2.25em;
  vertical-align: middle;
  padding-right: 10px;
}

/* Pages */
#dashboard #uiTabs {
  margin-top: 2em;
}
#dashboard .tabs .tab a {
  color: #fff !important;
  font-size: 1em !important;
  letter-spacing: 2px;
}
#dashboard .tabContent:empty:before {
  content: "Nothing to show here yet";
  display: block;
  margin-top: 10%;
  text-align: center;
  opacity: 0.5;
}
#dashboard .modal {
  font-size: smaller;
}