/* Custom Stylesheet */

/* Materialize overrides */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 {
  font-weight: 700;
}
#logo-container {
  height: 100%;
  max-width: 50%;
  padding: 10px;
}
img.responsive-img, video.responsive-video {
  height: 100%;
}
.nav-wrapper li a {
  font-size: large;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/* Helper classes */
.larger {
  font-size: 120%;
}
.smaller {
  font-size: 80%;
}
.small {
  font-size: 0.8rem;
}
.upper {
  text-transform: uppercase;
}
.panel {
  padding: 1em;
  border-radius: 14px;
}

/* Page specific classes */
#dashboard .netlify-identity-user-details {
  font-size: 0;
}
#dashboard .netlify-identity-user {
  font-size: 1rem;
}
